html {
  overflow-x: hidden;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  font: 18px 'Quicksand';
  font-weight: 400;
  text-transform: lowercase;
}

.pageTop {
  height: 100vh;
  background-color: RGBA(174, 174, 174, 1);
  position: relative;
  width: 100%;
}

.planewindow {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/airplane-windows.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.help {
  position: absolute;
  top: 10px;
  right: 20px;
}

.welcome {
  position: absolute;
  top: 80px;
  padding: 5px;
  background: RGBA(255,255,255,.5);
  text-align: center;
  left: 26%;
  width: 50%;
  height: 70vh;
  border-radius: 30px;
  min-width: 297px;
}

.welcome > hr {
  width: 40%;
}

.title {
  font: 55px 'Poiret One';
  text-transform: uppercase;
  font-weight: bold;
  margin: 25px auto 10px auto;
}

.tagline {
  margin: 10px auto;
  font-weight: 400;
  font-size: 32px;
}

#flightform {
  text-align: center;
  max-width: 668px;
}

#formtitle {
  font: 24px 'Poiret One';
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
}

.inputwrapper {
  width: 95%;
}

label {
  display: inline-block;
  text-align: center;
  width: 250px;
}

.inputBox {
  display: inline-block;
  width: 100px;
  margin: 6px;
  border-radius: 5px;
  border: 2px solid #757575;
  padding: 5px;
  background: transparent;
  font-family: 'Quicksand';
  font-weight: 700;
}

#submit, .factsbtn {
  font: 24px'Poiret One';
  display: block;
  text-transform: uppercase;
  padding: 5px 25px;
  border: 2px solid black;
  background: transparent;
  border-radius: 5px;
  margin: 20px auto;
}

#submit:hover, .factsbtn:hover {
  border: 2px solid #008FDB;
  color: #008FDB;
}


.alertify-inner {
  text-transform: none;
}

.fa:hover {
  color: #008FDB;
  cursor: pointer;
}

/*====================================================
Fluffy clouds CSS!
====================================================*/
#clouds {
  padding: 100px 0;
  background: #6DD3E7;
  background: -webkit-linear-gradient(top, #6DD3E7 20%, #fff 50%);
  background: linear-gradient(top, #6DD3E7 20%, #fff 50%);
  background: -moz-linear-gradient(top, #6DD3E7 20%, #fff 50%);
  height: 100vh;
}

.cloud {
  width: 250px;
  height: 60px;
  background-color: white;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative;
  
  -moz-box-shadow: 9px -7px 0 0 #f7e7eb inset;
  -webkit-box-shadow: 9px -7px 0 0 #f7e7eb inset;
  box-shadow: 9px -7px 0 0 #f7e7eb inset;
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background-color: white;
  width: 120px;
  height:120px;
  top: -75px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-box-shadow: 10px 3px 0 0 #f7e7eb inset;;
  -webkit-box-shadow: 10px 3px 0 0 #f7e7eb inset;
  box-shadow: 10px 3px 0 0 #f7e7eb inset;
}

.cloud:after {
  width: 90px;
  height: 90px;
  top: -45px;
  right: 25px;
}

.cloud:before {
  left: 25px;
}

.x1 {
  top: 150px;
  -webkit-animation: moveclouds 45s linear infinite;
  -moz-animation: moveclouds 45s linear infinite;
  -o-animation: moveclouds 45s linear infinite;
}

.x2 {
  left: 200px;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);  
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite;
}

.x3 {
  left: -250px;
  transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -o-transform: scale(0.3);
  opacity: .8;
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
  -o-animation: moveclouds 35s linear infinite;
}

.x4 {
  left: 300px;
   transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-animation: moveclouds 48s linear infinite;
  -moz-animation: moveclouds 48s linear infinite;
  -o-animation: moveclouds 48s linear infinite;
}

.x5 {
  left: -200px;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
  -o-animation: moveclouds 35s linear infinite;

}

.x6 {
  left: 470px;
  top: -200px;
   transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  opacity: 0.7;
   -webkit-animation: moveclouds 31s linear infinite;
  -moz-animation: moveclouds 31s linear infinite;
  -o-animation: moveclouds 31s linear infinite;
}

.x7 {
  left: 20px;
  top: -175px;
   transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  opacity: .7;
  -webkit-animation: moveclouds 30s linear infinite;
  -moz-animation: moveclouds 30s linear infinite;
  -o-animation: moveclouds 30s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {margin-left: 1200px;}
  100% {margin-left: -1000px;}
}

@-moz-keyframes moveclouds {
  0% {margin-left: 1200px;}
  100% {margin-left: -1000px;}
}

@-o-keyframes moveclouds {
  0% {margin-left: 1200px;}
  100% {margin-left: -1000px;}
}
/*====================================================
END Fluffy clouds CSS

Start MAP portion CSS
====================================================*/

#map {
  height: 100vh;
  position: relative;
  width: 100%;
}


.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height: 70vh;
   top:70vh;
   margin-top:-70vh;
}

iframe {
  width: 100%;
  height: 70vh;
  border: 0;
}

.heading {
  border-top: 8px solid #CCC;
}

.decorativearrow {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #CCC;
  margin-left: 80%;
}

.headingtext {
  margin-top: 0;
  padding: 0 35px;
  font-weight: 300;
  font-size: 2em;
}

#tempframe {
  position: absolute;
  background: #88959C;
  color: white;
  width: 30%;
  text-align: center;
  padding: 5px 0;
  left: 35%;
}

#tempframe > h3 {
  font-weight: 300;
}

.btnwrapper {
  text-align: center;
  width: 100%;
}

.factsbtn {
  display: none;
  margin: 5px auto 0 auto;
  font-size: 20px;
  padding: 5px 15px;
}


/*=================================
Facts portion CSS
=================================*/
.facts {
  height: 100vh;
  background-color: #CCC;
}

.hide {
  display: none;
}

.white {
  border-top-color: white;
}

.wrapper {
  display: flex;
}

.topicsection {
  display: inline-block;
  width: 30%;
}

.topics {
  box-sizing: border-box;
  width: 100%;
  height: 23vh;
  border-top: 14px solid #01A1FF;
  text-align: right;
  border-radius: 6px;
  padding: 0 45px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px #888;
  -moz-box-shadow: 5px 5px 10px #888;
  -o-box-shadow: 5px 5px 10px #888;
  box-shadow: 5px 5px 10px #888;
  margin-bottom: 5px;
  cursor: pointer;
}

.topicname {
  font-size: 1.5em;
}

.first {
  background: #FFF url('../img/airplane14.png') no-repeat 3%;
  background-size: 65px;
}

.second {
  border-top-color: #FFBC00;
  background: #FFF url('../img/mountains.png') no-repeat 3%;
  background-size: 65px;
}

.third {
  border-top-color: #FF4100;
  background: #FFF url('../img/waiter.png') no-repeat 3%;
  background-size: 65px;
}

.carouselwrapper {
  display: inline-block;
  width: 65%;
  height: 65vh;
  align-self: center;
  margin-left: 35px;
}

.carousel {
  width: 85%;
  height: 60vh;
  margin-left: 25px;
  border-radius: 10px;
  background-color: white;
  border-top: 20px solid #01A1FF;
  -webkit-box-shadow: 5px 5px 10px #888;
  -moz-box-shadow: 5px 5px 10px #888;
  -o-box-shadow: 5px 5px 10px #888;
  box-shadow: 5px 5px 10px #888;
}

.ataglance {
  background: #FFF url('../img/plane2.png') no-repeat 90% 90%;
  background-size: 120px;
}

.intheair {
  border-top-color: #FFBC00;
  background: #FFF url('../img/airport2.png') no-repeat 90% 90%;
  background-size: 185px;
}

.inyourflight {
  border-top-color: #FF4100;
  background: #FFF url('../img/cutlery.png') no-repeat 90% 90%;
  background-size: 100px;
}

.card {
  text-align: center;
  height: 60vh;
}

.facttitle {
  font-size: 1.6em;
  font-weight: 400;
}

.factoid {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.comment {
  text-transform: none;
  padding: 0 20px;
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: #008FDB;
}

a:hover {
  text-decoration: underline;
}

hr {
  width: 50%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
}

.slick-dots {
  bottom: -75px;
}

/*=================================
Media Queries
=================================*/
@media screen and (max-width: 924px), (max-height: 556px) {
  .title {
    font-size: 2em;
  }

  .tagline {
    font-size: 1.5em;
  }

  .formtitle, .submit {
    font-size: 1em;
  }

  .headingtext {
    font-size: 1.5em;
    margin: 0;
  }

  .topicname {
    display: inline;
    font-size: 1.4em;
  }

  .factoid {
    font-size: 1.5em;
  }

  .facttitle {
    font-size: 1.2em;
  }
}

@media screen and (max-height: 556px) {
  #submit {
    font-size: 1em;
    margin: 10px auto;
    padding: 5px 10px;
  }

  .welcome {
    top: 50px;
    height: 80vh;
  }
}

@media screen and (max-width: 530px) {
  .welcome {
    left: 20%;
  }

  .topicname {
    font-size: 1.1em;
  }

  .headingtext {
    font-size: 1.5em;
  }

}

